// COLOR CUBE
$white: white;
$black: black;
$tundora: #434243;
$silver: #bcbcbc;
$almondFrost: #937a6b;
$oregon: #944402;
$easternBlue: #2787b2;
$crhistine: #f3790c;
$equator: #e3bd5e;
$christi: #69a10e;
//MEDIAN CUT
$zeus: #1f1914;
$sisal: #d6cbbd;
$mantle: #88978d;
$fieryOrange: #b44a13;
$slateGray: #6f7f8c;
//MATERIAL DESIGN
$driftwood: #b7814d;
$flint: #676059;
$fieryOrangeDarkVibrant: #af4913;
$englishWalnut: #392b22;
$tacao: #f2bf87;